.note {
  width: 32.5%;
  padding: 15px;
  border-radius: 14px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #444;
  background: #444;
  font-size: 23px;
  cursor: pointer;
  margin-bottom: 1.25%;
  transition: all 0.2s ease;
  color: #ededed;
  margin-right: 1.25%;
}
.note:nth-child(3n) {
  margin-right: 0;
}
.note:hover {
  background: #4e4e4e;
}