.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input, .textarea {
  padding: 8px;
  background: transparent;
  border: 2px solid gray;
  font-size: 18px;
  color: #ededed;
  border-radius: 10px;
}
.textarea {
  min-height: 100px;
  max-height: 580px;
  resize: vertical;
  margin: 15px 0;
  white-space: pre-wrap;
}